@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: "Geist Mono";
    src: url("https://assets.codepen.io/605876/GeistMonoVariableVF.ttf") format("truetype");
  }

  :root {
    --grid-offset: calc(50% + 80px);
    --color: hsl(0, 0%, 100%);
    --bg: #000;
    --color-alpha: hsl(0 0% 60%);
    --selection: hsl(0 0% 80%);
    --bg-size: 180px;
    --grid-line: hsl(0 0% 80%);
    --input-bg: hsl(0 0% 100% / 0.2);
    --grid-accent: hsl(280 0% 10% / 0.1);
    --glint: white;
    --button-shade: 80%;
  }




  :root:focus-within {
    --grid-accent: hsl(280 0% 10% / 0.35);
  }

  @media(prefers-color-scheme: dark) {
    :root {
      --button-shade: 30%;
      --glint: black;
      --grid-accent: hsl(280 0% 80% / 0.1);
      --selection: hsl(0 0% 20%);
      --color: hsl(0 0% 98%);
      --bg: hsl(0 0% 6%);
      --color-alpha: hsl(0 0% 50%);
      --grid-line: hsl(0 0% 12%);
      --input-bg: hsl(0 0% 0% / 0.2);
    }

    :root:focus-within {
      --grid-accent: hsl(280 0% 80% / 0.35);
    }
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }



  
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}
section 
{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
}
section::before 
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
	animation: animate 8s linear infinite;
	
}
@keyframes animate 
{
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}
section span 
{
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background: #181818;
	z-index: 2;
	transition: 1.5s;
}
section span:hover 
{
	background:linear-gradient(to right, #141e30, #243b55);
	transition: 0s;
	
}

section .signin
{
	position: absolute;
	width: 400px;
  background: #222;  
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .signin .content 
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}
section .signin .content h2 
{
	font-size: 2em;
	color: #0f0;
	text-transform: uppercase;
}
section .signin .content .form 
{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
section .signin .content .form .inputBox
{
	position: relative;
	width: 100%;
}
section .signin .content .form .inputBox input 
{
	position: relative;
	width: 100%;
	background: #333;
	border: none;
	outline: none;
	padding: 25px 10px 7.5px;
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	font-size: 1em;
}
section .signin .content .form .inputBox i 
{
	position: absolute;
	left: 0;
	padding: 15px 10px;
	font-style: normal;
	color: #aaa;
	transition: 0.5s;
	pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
	transform: translateY(-7.5px);
	font-size: 0.8em;
	color: #fff;
}
.signin .content .form .links 
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.signin .content .form .links a 
{
	color: #fff;
	text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
	color: #0f0;
	font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
	padding: 10px;
	background: #0f0;
	color: #000;
	font-weight: 600;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	cursor: pointer;
}
input[type="submit"]:active
{
	opacity: 0.6;
}
@media (max-width: 900px)
{
	section span 
	{
		width: calc(10vw - 2px);
		height: calc(10vw - 2px);
	}
}
@media (max-width: 600px)
{
	section span 
	{
		width: calc(20vw - 2px);
		height: calc(20vw - 2px);
	}
}










  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Geist Mono', sans-serif, system-ui;
    color: var(--color);
    background: var(--bg);
  }

  body::before {
    content: "";
    transition: background 0.2s;

    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    -webkit-mask: radial-gradient(circle at 0% 0%, hsl(0 0% 100% / 0.5), transparent);
  }

  .form-group:focus-within label {
    color: var(--color);
  }

  .form-group:focus-within input {
    border-color: var(--color);
    color: var(--color);
  }

  .form-group:focus-within button {
    color: var(--color);
  }

  input {
    font-family: "Geist Mono", monospace;
    font-size: 1.75rem;
    padding: 1rem 2rem;
    padding-right: 4rem;
    letter-spacing: 0.2ch;
    border-radius: 6px;
    color: var(--color-alpha);
    border-color: var(--color-alpha);
    border-style: solid;
    background: var(--input-bg);
    outline: none;
    transition: border-color 0.2s, color 0.2s
  }

  label {
    position: absolute;
    color: var(--color-alpha);
    bottom: calc(100% + 0.5rem);
    letter-spacing: 0.2ch;
    transition: color 0.2s;
  }

  .form-group {
    position: relative;
  }

  .eye circle:nth-of-type(2) {
    fill: var(--glint);
  }

  button {
    padding: 0;
    display: grid;
    place-items: center;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 12px;
    border: 0;
    background: linear-gradient(hsl(0 0% var(--button-shade) / calc(var(--active, 0) * 0.5)), hsl(0 0% var(--button-shade) / calc(var(--active, 0) * 0.5))) padding-box;
    border: 6px solid transparent;
    transition: background 0.125s;
    color: var(--color-alpha);
    position: absolute;
    right: 0;
    z-index: 2;
    top: 50%;
    cursor: pointer;
    translate: 0 -50%;
    outline: 0;
  }

  input::selection {
    background: var(--selection);
  }

  button:is(:focus-visible, :hover) {
    --active: 1;
  }

  button svg {
    width: 75%;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  
     